# ┌────────────────────────────────────────────────────────────────────────────────────────────────────┐
# │                                      SERVICE ACCOUNTS                                              │
# └────────────────────────────────────────────────────────────────────────────────────────────────────┘
[cab_ansible]
   ID : 2000
   COMMENT : CAB Internal Service Account
   ACTIVE : YES
[delinea]
   ID : 2501
   COMMENT : Delinea Discovery
   ACTIVE : YES

# ┌────────────────────────────────────────────────────────────────────────────────────────────────────┐
# │                                        USER ACCOUNTS                                               │
# └────────────────────────────────────────────────────────────────────────────────────────────────────┘
[rmagistrelli]
   ID : 2001
   COMMENT : Rick Magistrelli
   ACTIVE : YES
[adikko]
   ID : 2002
   COMMENT : Amina Dikko
   ACTIVE : YES
[mczerniak]
   ID : 2003
   COMMENT : Michael Czerniak
   ACTIVE : YES

[mwright]
   ID : 2101
   COMMENT : Matthew Wright
   ACTIVE : YES
[aponnampala]
   ID : 2102
   COMMENT : Arun Ponnampala - Contractor
   ACTIVE : YES

[dbenjamin]
   ID : 2201
   COMMENT : Debbie Benjamin
   ACTIVE : YES
[rgame]
   ID : 2202
   COMMENT : Richard Game
   ACTIVE : YES
[amohamed]
   ID : 2203
   COMMENT : Abdul Mohamed
   ACTIVE : YES
[eahmad]
   ID : 2204
   COMMENT : Ebad Ahmad
   ACTIVE : YES
